#registerForm{
    display: inline-block;
    background-color: #ddd;
    margin:auto;
    padding:20px;
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input{ 
            margin:10px;
            border-radius: 5px;
            padding:3px;
            font-size: medium;
        }
    }
}